
/*****************/
/* General Style */
/*****************/

:root{
    --backgroundPrimary: #1E2446;
    --primaryColor: #f3e2fa;
    --secondaryColor: #ED5E00;
    --tertiary: #a8f0ad;
}

h2{
    font-family:  'Montserrat', Times, serif;
    color: var(--secondaryColor);
}

.button{
    background-color: var(--backgroundPrimary);
    color: white;
    border-radius: 8px;
    width: 75px;
    margin-bottom: 30px;
}

/*****************/
/* Nav bar */
/*****************/
nav{
    display: block;
}

#navbarColor{
    background-color: var(--backgroundPrimary);
}

.topLogo{
    padding-right: 20px;
    border-right: 1px solid var(--tertiary);
    margin-right: 10px;
}


/*****************/
/* Welcome Section */
/*****************/
.welcome{
    margin-top: 30px;
    position: relative;
    overflow: hidden;
    height: 800px;
}

.welcome p{
    position: relative;
    color: var(--secondaryColor);
    text-align: left;
    margin-left: 80px;
    width: 60%;
    align-content: center;
    padding-top: 10%;
    z-index: 2;
    font-family: 'Montserrat', Times, serif;
    font-size: 45px;
    font-weight: bold;
}
 .welcome span{
    text-decoration: underline;
 }

 .contactlogos{
    position: relative;
     z-index: 3;
     margin-left: 80px;
 }
.contactlogos img{
    position: relative;
    width: 30px;
 }

.backgroundWelcome{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 1;
    opacity: 0.3;
    overflow: hidden;
}

/*****************/
/* Project Section */
/*****************/

#projects{
    margin-top: 20px;
    padding-top: 50px;
    background-color:#edecec;
    text-align: center;
    height: auto;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 30px;
}

.project-items{
    background-color: white;
    margin: 20px;
    padding-top: 15px;
    flex: 1 1;
    min-width: 300px;
    border-radius: 10px;
}

#projects h2{
    font-weight: bold;
    font-size: 50px;
}

#project1{
    
}

#project2{
    
}

#project3{
    
}

.projects img{
    width: 100%;
    padding: 10px;
    padding-bottom: 15px;
    min-width: 300px;
}



/*****************/
/* Skill Section */
/*****************/

.skills{
    margin: 50px;
    padding-top: 50px;
    text-align: center;
    padding-bottom: 50px;


}

.skills h2{
    font-weight: bold;
    font-size: 50px;
}

.logos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}

.logos img{
    width: 150px;
    padding: 15px;
}

/*****************/
/* Footer */
/*****************/

footer{
    background-color: var(--backgroundPrimary);
    height: 150px;
    margin: 100px 0 10px 0;
    color: white;
    padding-top: 30px;
    text-align: center;
}

footer img{
    width: 30px;
    margin: 10px;
}

footer h3{
    font-size: 20px;
    color: var(--secondaryColor);
}

footer p{
    font-size: 10px;
}
